.desktop{
    width: 100%;
    height: 100vh;
    padding: 1em;
    background-image: url("../../public/images/desktop_images/desktop_image_1.jpg");
    background-size: cover;
}

.desktop-window {
    display: flex;
    flex-wrap: wrap;
}

.folder-item {
    width: 80px;
    height: 100px;
    margin: 0.4em;
    padding: 0.1em;
    text-align: center;
    transition: 0.2s;
    overflow: hidden;
}

.folder-item {
    > * {
        text-decoration: none;
    }
}

.folder-icon {
    color: #F8D775;
    font-size: 40px;
    display: block;
}

.folder-name {
    color: $dark-color;
    font-size: 1.2em;
}

.folder-item {
    &:hover {
        background-color: $transparent-light-dark-color;
    }
}
