.folder-wrapper{
    width: 100%;
    height: 100vh;
    background-color: $transparent-dark-color;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder {
    width: 80%;
    min-width: 300px;
    max-width: 1200px;
    min-height: 400px;
    background-color: $light-color;
}

.folder__top-panel {
    color: $light-color;
    background-color: $dark-color;
    display: flex;
    flex-direction: column;
}

.folder__top-panel {
    > .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.sort-by{
    margin: 10px 0 10px 0;
    align-self: flex-end;
}