.folder-wrapper{
    width: 100%;
    height: 100vh;
    background-color: $transparent-dark-color;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder {
    width: 80%;
    min-width: 300px;
    max-width: 1200px;
    min-height: 400px;
    background-color: $light-color;
    opacity: 0;

    display: flex;
    flex-direction: column;

    animation: folder-open 0.5s 1 forwards;
}

.folder__top-panel {
    color: $light-color;
    background-color: $dark-color;
    display: flex;
    flex-direction: column;
}

.folder__top-panel {
    > .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.folder-control li {
    width: 1.5em;
    height: 1.5em;
    transition: 0.1s;
    display: flex;
    line-height: 0;
}

.folder-control {
    li {
        > * { //Link elements
            width: 100%;
            height: 100%;
            color: $light-color;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.close-button {
    &:hover {
        background-color: orangered;
    }
}

.sort-by{
    margin: 10px 0 0 0;
    align-self: flex-end;
}

.folder > .container {
    align-items: flex-start !important;
    flex-grow: 1;
    overflow-y: auto; /*not working*/
}

.folder__files-container {
    padding: 5px;
    flex-wrap: wrap;
}

.folder__file-info-panel {
    min-height: 2.5em;
    padding: 0 0.3em 0 0.3em;
    background-color: gray;
    font-size: 0.8em;
}